<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Skills List</h1>
  <ul>
    <% skills.forEach(skill => { %>
    <li> 
      <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
        - 
        <%= skill.dateStarted %>
        - 
        <%= skill.mastery ? 'Mastered' : 'not Mastered' %>
      <% }) %>
    </li>
  </ul>
  <a href="/skills/new">Add skill </a>
</body>
</html>